pod:
  mounts:
    octavia_api:
      octavia_api:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca-chain.cert.pem
            subPath: server_ca-chain.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.cert-and-key.pem
            subPath: client.cert-and-key.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_worker:
      octavia_worker:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca-chain.cert.pem
            subPath: server_ca-chain.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.cert-and-key.pem
            subPath: client.cert-and-key.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_housekeeping:
      octavia_housekeeping:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca-chain.cert.pem
            subPath: server_ca-chain.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.cert-and-key.pem
            subPath: client.cert-and-key.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_health_manager:
      octavia_health_manager:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca-chain.cert.pem
            subPath: server_ca-chain.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.cert-and-key.pem
            subPath: client.cert-and-key.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
    octavia_driver_agent:
      octavia_driver_agent:
        volumeMounts:
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca.cert.pem
            subPath: server_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/server_ca-chain.cert.pem
            subPath: server_ca-chain.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/server_ca.key.pem
            subPath: server_ca.key.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/client_ca.cert.pem
            subPath: client_ca.cert.pem
          - name: octavia-certs
            mountPath: /etc/octavia/certs/private/client.cert-and-key.pem
            subPath: client.cert-and-key.pem
        volumes:
          - name: octavia-certs
            secret:
              secretName: octavia-certs
              defaultMode: 0644
conf:
  octavia:
    controller_worker:
      amp_image_owner_id: {{ _octavia_image_owner.stdout | trim }}
      amp_secgroup_list: {{ _octavia_secgroup.stdout | trim }}
      amp_flavor_id: {{ _octavia_flavor.stdout | trim }}
      amp_boot_network_list: {{ _octavia_network.stdout | trim }}
      amp_image_tag: amphora
      amp_ssh_key_name: octavia-key
    health_manager:
      bind_port: 5555
      bind_ip: 0.0.0.0
      controller_ip_port_list: {{ _octavia_hm_ip_port.stdout | trim }}
    task_flow:
      jobboard_enabled: false
    nova:
      availability_zone: "nova:{{ _octavia_target_hostname.stdout | trim }}"
