# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Workaround till we are waiting for openstackdocstheme=3.1.2.
# Specifically https://review.opendev.org/c/openstack/openstackdocstheme/+/891678/1/openstackdocstheme/page_context.py
# The simptoms for "tox run -- testenv:docs":
# Extension error (openstackdocstheme.page_context):
# Handler <function html_page_context at 0x7fafddff4700> for event 'html-page-context' threw an exception (exception: object of type 'PosixPath' has no len())
# openstackdocstheme>=3.1.2 # Apache-2.0
# sphinx>=2.0.0,!=2.1.0 # BSD
sphinx<7.2.0 # BSD
# End of the workaround
sphinxcontrib-blockdiag>=1.1.0
openstackdocstheme>=2.2.1 # Apache-2.0
reno>=3.1.0 # Apache-2.0