#!/usr/bin/python

import yaml

data = {'server': '',
        'server-key': '',
        'client': '',
        'client-key': ''}

for i in data.keys():
    with open('{}.pem'.format(i)) as f:
        data[i] = f.read()
with open('ca.crt') as f:
    data['ca'] = f.read()

res = {'endpoints': {'etcd': {'auth': {'client': {'tls': ''}},
                              'scheme': {'default': 'https'}}},
       'conf': {'etcd': {'credentials': ''}}}

res['endpoints']['etcd']['auth']['client']['tls'] = {'ca': data['ca'],
                                                     'key': data['client-key'],
                                                     'crt': data['client']}
res['conf']['etcd']['credentials'] = {'ca': data['ca'],
                                      'key': data['server-key'],
                                      'certificate': data['server']}

with open('calico_certs.yaml', 'w') as f:
    yaml.dump(res, f, default_style='|')
