apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-info
  namespace: kube-public
data:
  kubeconfig: |
    apiVersion: v1
    clusters:
    - cluster:
        certificate-authority-data: {{ clusters[0].cluster['certificate-authority-data'] }}
        server: {{ clusters[0].cluster['server'] }}
      name: ""
    contexts: []
    current-context: ""
    kind: Config
    preferences: {}
    users: []
