#jinja2: trim_blocks:False
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ k8s.kubernetesVersion }}
imageRepository: {{ k8s.imageRepository }}
networking:
  dnsDomain: {{ k8s.networking.dnsDomain }}
  podSubnet: {{ k8s.networking.podSubnet }}
  serviceSubnet: {{ k8s.networking.serviceSubnet }}
apiServer:
  extraArgs:
    service-node-port-range: "1024-65535"
    feature-gates: "MountPropagation=true,PodShareProcessNamespace=true"
controllerManager:
  extraArgs:
    address: "0.0.0.0"
    port: "10252"
    feature-gates: "PodShareProcessNamespace=true"
scheduler:
  extraArgs:
    address: "0.0.0.0"
    port: "10251"
  feature-gates: "PodShareProcessNamespace=true"
certificatesDir: {{ k8s.certificatesDir }}
---
apiVersion: kubeadm.k8s.io/v1beta1
localAPIEndpoint:
  advertiseAddress: {% if k8s.api.advertiseAddress is defined %}{{ k8s.api.advertiseAddress }}{% else %}{% if k8s.api.advertiseAddressDevice is defined %}{{ hostvars[inventory_hostname]['ansible_'+k8s.api.advertiseAddressDevice].ipv4.address }}{% else %}{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}{% endif %}{% endif %}
  bindPort: {{ k8s.api.bindPort }}
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ kubeadm_bootstrap_token }}
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
kind: InitConfiguration
