apiVersion: v1
clusters:
  - cluster:
      insecure-skip-tls-verify: true
      server: https://k8sksauth-api.kube-system.svc.cluster.local:8443/webhook
    name: webhook
contexts:
  - context:
      cluster: webhook
      user: webhook
    name: webhook
current-context: webhook
kind: Config
preferences: {}
users:
  - name: webhook
