#jinja2: trim_blocks:False
apiVersion: v1
kind: Pod
metadata:
  name: osh-dns-redirector
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
    - name: osh-dns-redirector
      image: docker.io/openstackhelm/neutron:newton
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
        runAsUser: 0
      command:
        - dnsmasq
        - --keep-in-foreground
        - --no-hosts
        - --bind-interfaces
        - --all-servers
        - --address
        - /{{ gate.fqdn_tld }}/{{ gate.ingress_ip }}
        # NOTE(portdirect): just listen on the docker0 interface
        - --listen-address
        - 172.17.0.1
      volumeMounts:
        - mountPath: /etc/resolv.conf
          name: resolv-conf
          readOnly: true
  volumes:
    - name: resolv-conf
      hostPath:
        path: /etc/resolv-upstream.conf
        type: FileOrCreate
