search svc.{{ k8s.networking.dnsDomain }} {{ k8s.networking.dnsDomain }}
nameserver 10.96.0.10
{% for nameserver in external_dns_nameservers %}
nameserver {{ nameserver }}
{% endfor %}
options ndots:5 timeout:1 attempts:1
