[Unit]
Description=Setup loop devices
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target
After=systemd-udevd.service
Requires=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/sbin/losetup {{ loopback_device }} '{{ loopback_image }}'
ExecStop=/sbin/losetup -d {{ loopback_device }}
TimeoutSec=60
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
Also=systemd-udevd.service
